/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2");
}

:root {
  --primary-color-white: #f5f5f5;
  --primary-color-text: #364153;
  --primary-red-dark: #f54900;
  --primary-red-light: #ff8904;
  --color-link: #d1d5dc;
  --color-white: #ffffff;
  --color-h: #101828;
  --color-in-red: #ffedd4;
  --color-under-form: #6a7282;
  --color-lite-grey: #f9fafb;
  --color-green-for-list: #f0fdf4;
  --bordercolor-for-green-list: #b9f8cf;
  --color-orange-for-list: #fff7ed;
  --bordercolor-for-orange-list: #ffd6a8;
  --color-blue-for-list: #eff6ff;
  --bordercolor-for-blue-list: #bedbff;
}

/* ----------------------------------BASE ------------------------------------*/

* {
  box-sizing: border-box;
}

.section {
  padding: 48px 0;
  border: 2px burlywood solid;
}

.conteiner {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
  border: 2px blue solid;
  padding: 0 32px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56;
  background-color: var(--color-white);
  color: var(--primary-color-text);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--color-h);
}

ul {
  list-style-type: none;
}

/*---------------------------------------- BUTTON--------------------------------------- */

.hero-button-red {
  border-radius: 10px;
  width: 397px;
  height: 62px;
  border: none;
  background: var(--primary-red-light);

  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
}

.hero-button-red:hover {
  background: var(--primary-red-dark);
}

.hero-button-call {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1px;
  width: 200px;
  height: 62px;
  background: rgba(255, 255, 255, 0.1);
}

.hero-button-call:hover {
  background: rgba(255, 255, 255, 0.3);
}

.button-under-form {
  border-radius: 10px;
  width: 520px;
  height: 56px;
  border: none;
  background: var(--primary-red-light);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
}

.button-under-form:hover {
  background: var(--primary-red-dark);
}

/*--------------------------------------------- LINK------------------------------------------ */

a {
  color: var(--color-link);
  line-height: 1.4;
  text-decoration: none;
}

a:hover {
  color: var(--primary-red-light);
}
/* ------------------------------- common to all ----------------------------------------- */

.text-after-h2 {
  font-size: 18px;
  text-align: center;
}

.section-title {
  margin-bottom: 44px;
}

/* ------------------------------- HEADER SECTION ----------------------------------------- */
.heder-flex {
  display: flex;
  align-items: center;
}

.heder-flex nav {
  flex: 1;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------- HERO SECTION ----------------------------------------- */

.hero-section {
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../images/hero_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 944px;

  padding: 268px 0;
}

.conteiner-hero {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 408px;
  margin: 0 auto;
  padding: 0 32px;
}

.hero-tittle {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.25;
  color: var(--color-white);
}

.hero-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  color: var(--color-white);
}

/* ------------------------- UBER UNS SECTION ---------------------------------- */

.section-uber-uns {
  padding-top: 80px;
}

.conteiner-uber-uns {
  background-color: var(--color-lite-grey);
}

.text-uber-uns {
  margin-bottom: 37px;
}

.uber-uns-list {
  display: flex;
  gap: 32px;
}

.box-for-advantages {
  border-radius: 10px;
  max-width: 280px;
  box-shadow:
    0 2px 4px -2px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}

.uber-uns-advantages {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-h);
  text-align: center;
}

.uber-uns-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* ------------------------- UNSERE LEISTUNGEN ---------------------------------- */

.unsere-leistungen-h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: var(--color-h);
}

.unsere-leistungen-after-h3 {
  font-size: 16px;
  line-height: 1.5;
}

.unsere-leistungen h4 {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-h);
}

.unsere-leistungen h4 + p {
  line-height: 1.4;
  text-align: center;
}

.haus-garden-list-bg {
  background-color: var(--color-green-for-list);
  border: 2px solid var(--bordercolor-for-green-list);
  border-radius: 16px;
}

.haus-garden-list {
  display: flex;
  gap: 24px;
}

.haus-garden-list h4 {
  text-align: center;
}

.haus-garden-list li {
  border-radius: 10px;
  max-width: 269px;
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}

.renovirung-list-bg {
  background-color: var(--color-orange-for-list);
  border: 2px solid var(--bordercolor-for-orange-list);
  border-radius: 16px;
}

.renovirung-list {
  display: flex;
  gap: 24px;
}

.renovirung-list li {
  border-radius: 10px;
  max-width: 269px;
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}

.montage-list-bg {
  border: 2px solid var(--bordercolor-for-blue-list);
  border-radius: 16px;
  background: var(--color-blue-for-list);
}

.montage-list {
  display: flex;
  gap: 24px;
}

.montage-list li{
  border-radius: 10px;
  max-width: 195px;
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

/* ------------------------- Ihre Vorteile ---------------------------------- */

.vorteile {
  background: linear-gradient(135deg, #f54900 0%, #ca3500 100%);
}

.vorteile h2 {
  color: var(--color-white);
}

.vorteile p {
  color: var(--color-in-red);
}

.vorteile h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--color-white);
}

.vorteile h3 + p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* ------------------------- KONTAKT SECTION ---------------------------------- */

.kontakt h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--color-h);
}

.kontakt h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-h);
}

.kontakt h4 + p {
  font-size: 16px;
  line-height: 1.5;
}

.kontakt label {
  font-weight: 500;
  line-height: 1.4;
}

.text-under-form {
  line-height: 1.4;
  text-align: center;
  color: var(--color-under-form);
}

/* ------------------------- FOOTER ---------------------------------- */

footer {
  background: #101828;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-white);
}

footer h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
}

footer p {
  line-height: 1.4;
  color: var(--color-link);
}
