@use "../abstracts/mixins" as *;
.hero {
  &__button-red {
    padding: 16px 20px 18px;
    width: 354px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-white);
    background: var(--primary-red-light);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    @include min-tablet {
      margin-right: 16px;
      width: 397px;
      
      font-size: 18px;
    }

    &:hover {
      background: var(--primary-red-dark);
    }
  }

  &__button-call {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 1px;
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 20px 18px;
    width: 354px;
    cursor: pointer;

    @include min-tablet {
      font-size: 18px;
      line-height: 1.56;
      width: 200px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.contact-form {
  &__button-under-form {
    margin-bottom: 24px;
    border-radius: 10px;
    width: 100%;
    height: 56px;
    border: none;
    background: var(--primary-red-light);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-white);

    &:hover {
      background: var(--primary-red-dark);
    }
  }
}
