@use "../abstracts/mixins" as *;
.advantages {
  background: linear-gradient(135deg, #f54900 0%, #ca3500 100%);

  &__title {
    color: var(--color-white);
  }

  &__text {
    margin: 0 auto 64px;
    max-width: 768px;
    color: var(--color-in-red);
  }

  &__list {
    margin: 0;
    padding: 0 34px;
    display: flex;

    gap: 34px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @include min-tablet {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__list-item {
    max-width: 276px;
    align-items: center;
    text-align: center;
  }

  &__card-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--color-white);

    @include min-tablet {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__card-text {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: var(--color-in-red);

       @include min-tablet {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
