.text-after-h2 {
  font-size: 18px;
  text-align: center;
}

.section-title {
  margin-bottom: 24px;
}

.section-title::after {
  margin-top: 16px;
  position: relative;
  left: calc(100% / 2 - 48px);
  display: block;
  content: "";
  width: 96px;
  height: 4px;
  background-color: var(--primary-red-dark);
}
