@use "../abstracts/mixins" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
    min-height: 50px;
  }

  &__burger {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;    
    cursor: pointer;

    &:active {    
    transform: scale(0.9);           
  }

    @include min-tablet {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include min-tablet {
      display: block;
      flex: 1;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
}
