.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    flex: 1;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }
}
