@use "../abstracts/mixins" as *;
.contact {
  &__text {
    max-width: 735px;
    margin: 0 auto 65px;
  }

  &__container {
    display: flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;

    @include min-tablet {
      flex-direction: row;
    }
  }

  &__info {
    flex: 1;
  }

  &__form-container {
    flex: 1;
    background: var(--color-lite-grey);
    padding: 32px;
    border-radius: 16px;
  }

  &__title-info-and-form {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-dark);

    @include min-tablet {
      font-size: 24px;
      line-height: 1.3;
    }
  }

  &__title-item {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-dark);

    @include min-tablet {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__text-item {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.4;
    max-width: 224px;

      @include min-tablet {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__item {
    display: flex;
    gap: 16px;
  }

  &__text-under-form {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    color: var(--color-under-form);

    @include min-tablet {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
