:root {
  --primary-color-white: #f5f5f5;
  --primary-color-text: #364153;
  --primary-red-dark: #f54900;
  --primary-red-light: #ff8904;
  --color-link: #d1d5dc;
  --color-white: #ffffff;
  --color-h: #101828;
  --color-in-red: #ffedd4;
  --color-under-form: #6a7282;
  --color-lite-grey: #f9fafb;
  --color-green-for-list: #f0fdf4;
  --bordercolor-for-green-list: #b9f8cf;
  --color-orange-for-list: #fff7ed;
  --bordercolor-for-orange-list: #ffd6a8;
  --color-blue-for-list: #eff6ff;
  --bordercolor-for-blue-list: #bedbff;
}